.App {
  background-color: white;
}
.title-general{
  text-align: center;
}
.wrapper {
  display: grid;
  flex-direction: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 35px;
  justify-content: center;
}
.poke-list {
  border: 1px solid black;
  background-color: lightblue;
  list-style: none;
  text-align: center;
}
.title {
  border: 1px solid darkgrey;
}
.details {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.items {
  background-color: grey;
  color: white;
  border-radius: 10px;
  width: 55px;
  height: 25px;
 
}